vim.exe.stackdump
.vim/undo/
.LICENSE.swp
.NERDTreeBookmarks
.aspell.en.prepl
.aspell.en.pws
.bash_history
.bashrc.swo
.bashrc.swp
.cache/
.ctags
.dir_colors
.dircolors
.fzf/
.gitconfig
.github/
.indent.pro.swp
.indent.ro
.lesshst
.local/
.minttyrc
.subversion/
.tmux.conf.swp
.travis.yml
.viminfo
.vimplug.conf
.vimrc.bak
.vimrc.swn
.vimrc.swo
LICENSE
README.md
configs/
doc/
fzf-master/
ls
makefiles.session
new
plug.png
plug.vim
test/
vim_save_before_plugin/
.vim/undo/
.vim/backup/
.vim/plugged/
.tags
.tmux/resurrect

