.NERDTreeBookmarks
.dillo/
.esd_auth
.exrc
.fltk/
.gnupg/
.java/
.lesshst
.links/
.local/
.pki/
.shutter/
.surf/
.tags/
.vim/backup/.ctags.comf~
.vim/backup/Dockerfile~
.vim/backup/abbreviations.tex~
.vim/backup/ausbilck.tex~
.vim/backup/bibtex.bib~
.vim/backup/bibtex.tex~
.vim/backup/commands_bitbake.tex~
.vim/backup/commands_devtool.tex~
.vim/backup/config~
.vim/backup/cross_development.tex~
.vim/backup/eigeneKapitel.tex~
.vim/backup/einleitung.tex~
.vim/backup/flashen.tex~
.vim/backup/glossary.tex~
.vim/backup/grundlagen.tex~
.vim/backup/i3_layout_marco_ws1.json0~
.vim/backup/i3_layout_marco_ws1.json2~
.vim/backup/i3_layout_marco_ws1.json3~
.vim/backup/i3_layout_marco_ws1.json~
.vim/backup/i3_layout_marco_ws6.json~
.vim/backup/latex.dockerfile~
.vim/backup/latexmkrc~
.vim/backup/layer_app.tex~
.vim/backup/layer_kernel.tex~
.vim/backup/layer_machine_and_distro.tex~
.vim/backup/main.tex~
.vim/backup/module_entwicklung.tex~
.vim/backup/pitfalls.tex~
.vim/backup/preamble.tex~
.vim/backup/preample.tex.new~
.vim/backup/run.sh~
.vim/backup/sdk.tex~
.vim/backup/sdk_erzeugen.tex~
.vim/backup/setup_eclipse.tex~
.vim/backup/setup_host.tex~
.vim/backup/setup_qt5.tex~
.vim/backup/solutions2errors.tex~
.vim/backup/title.tex~
.vim/plugged/vim-polyglot/
.vim/plugged/vim-tex-syntax/
.vim/sessions/default.vim
.vim/sessions/~%2f.vim%2fsessions%2fautosave.vim
.vim/undo/%home%marco%.ctags.comf
.vim/undo/%home%marco%.i3%config
.vim/undo/%home%marco%.i3%i3_layout_marco_ws1.json
.vim/undo/%home%marco%.i3%i3_layout_marco_ws1.json0
.vim/undo/%home%marco%.i3%i3_layout_marco_ws1.json2
.vim/undo/%home%marco%.i3%i3_layout_marco_ws1.json3
.vim/undo/%home%marco%.i3%i3_layout_marco_ws6.json
.vim/undo/%home%marco%.vimrc
.vim/undo/%home%marco%docker%Dockerfile
.vim/undo/%home%marco%docker%latex%Dockerfile
.vim/undo/%home%marco%docker%latex.dockerfile
.vim/undo/%home%marco%docker%yocto%Dockerfile
.vim/undo/%home%marco%documents%latex-template%content%eigeneKapitel.tex
.vim/undo/%home%marco%dokumentation%content%glossary.tex
.vim/undo/%home%marco%latex.dockerfile
.vim/undo/%home%marco%yocto%doc%content%eigeneKapitel.tex
.vim/undo/%home%marco%yocto%doc%content%einleitung.tex
.vim/undo/%home%marco%yocto%doc%content%glossary.tex
.vim/undo/%home%marco%yocto%doc%content%title.tex
.vim/undo/%home%marco%yocto%doc%latexmkrc
.vim/undo/%home%marco%yocto%doc%main.tex
.vim/undo/%home%marco%yocto%doc%preamble.tex
.vim/undo/%home%marco%yocto%doc%run.sh
.vim/undo/%home%marco%yocto%doc%title.tex
.vim/undo/%home%marco%yocto%documentation%Makefile
.vim/undo/%home%marco%yocto%documentation%bibtex.tex
.vim/undo/%home%marco%yocto%documentation%content%abbreviations.tex
.vim/undo/%home%marco%yocto%documentation%content%ausbilck.tex
.vim/undo/%home%marco%yocto%documentation%content%commands_bitbake.tex
.vim/undo/%home%marco%yocto%documentation%content%commands_devtool.tex
.vim/undo/%home%marco%yocto%documentation%content%cross_development.tex
.vim/undo/%home%marco%yocto%documentation%content%einleitung.tex
.vim/undo/%home%marco%yocto%documentation%content%flashen.tex
.vim/undo/%home%marco%yocto%documentation%content%glossary.tex
.vim/undo/%home%marco%yocto%documentation%content%grundlagen.tex
.vim/undo/%home%marco%yocto%documentation%content%layer_app.tex
.vim/undo/%home%marco%yocto%documentation%content%layer_kernel.tex
.vim/undo/%home%marco%yocto%documentation%content%layer_machine_and_distro.tex
.vim/undo/%home%marco%yocto%documentation%content%module_entwicklung.tex
.vim/undo/%home%marco%yocto%documentation%content%pitfalls.tex
.vim/undo/%home%marco%yocto%documentation%content%sdk.tex
.vim/undo/%home%marco%yocto%documentation%content%sdk_erzeugen.tex
.vim/undo/%home%marco%yocto%documentation%content%setup_eclipse.tex
.vim/undo/%home%marco%yocto%documentation%content%setup_host.tex
.vim/undo/%home%marco%yocto%documentation%content%setup_qt5.tex
.vim/undo/%home%marco%yocto%documentation%content%solutions2errors.tex
.vim/undo/%home%marco%yocto%documentation%latexmkrc
.vim/undo/%home%marco%yocto%documentation%main.tex
.vim/undo/%home%marco%yocto%documentation%preamble.tex
.vim/undo/%home%marco%yocto%documentation%run.sh
.vim/undo/%home%marco%yocto%documentation%title.tex
.vimrc.swn
.wget-hsts
.xorg.log
1575211164.png
Configs/
Downloads/
MI/
bash
bin
documents/
dokumentation/
dokumente/
downloads/
en.latin1.spl
en.latin1.sug
en.utf-8.spl
en.utf-8.sug
get-docker.sh
index.html
lib
lib64
programming/
test.png
yocto/
.cache/
.config/
.vim/plugged/
1575211164.png
documents
get-docker.sh
lost+found
Configs
bewerbungen
dokumentation
lib
programming
yocto
Downloads
dokumente
lib64
MI
docker
downloads
linker
test.*
.vim/plugged/
